.App {
  padding: 10px;
  margin: 0px;
  width: 80%;
  background: rgb(223, 223, 223);
  margin: auto;
  height: 2130px;
}

.serverContainer,
.itemContainer,
.menuSelectionContainer,
.managementContainer,
.currentOrderContainer,
.processedOrderContainer,
.kitchenContainer {
  width: 100%;
  margin: auto;
  background: rgb(0, 2, 95);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  text-align: center;
}

button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
  background-color: rgb(255, 68, 68);
}

input {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  margin-top: 5px;
}

/* //////////// SERVER START //////////// */
.serverContainer {
  width: 97%;
  min-height: 100px;
}

.serverButton,
.tableButton {
  width: 170px;
  height: 30px;
  color: white;
  background-color: rgb(235, 162, 66);
}

.serverInfo {
  margin-bottom: 10px;
}

.serverSelection,
.tableListDisplay,
.createNewTable {
  background: rgb(0, 1, 65);
  border-radius: 2px;
  border-radius: 2px;
  width: 30%;
  float: left;
  min-height: 160px;
  padding: 5px;
  margin-left: 18px;
}

.serverSelection button {
  margin-top: 5px;
}

.tableListDisplay button {
  width: 100px;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

/* //////////// SERVER END //////////// */

/* //////////// MENU START //////////// */

.menuSelectionContainer {
  width: 99%;
  padding: 0px;
  min-height: 40px;
}

.menuButton {
  min-height: 50px;
  width: 80px;
  white-space: normal;
  word-wrap: break-word;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: rgb(68, 71, 255);
  color: white;
}

/* //////////// MENU END //////////// */

/* //////////// ITEMS START //////////// */

.itemContainer {
  min-height: 300px;
  width: 56.5%;
  float: left;
  margin-left: 3px;
  padding: 0px;
}

.itemButton {
  word-wrap: break-word;
  height: 90px;
  width: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(67, 214, 75);
  color: white;
  float: left;
}

/* //////////// ITEMS END //////////// */

/* //////////// CURRENT ORDER START //////////// */

.currentOrderContainer {
  height: 260px;
  width: 38%;
  float: left;
  background: rgb(0, 2, 95);
  padding: 20px;
}

.currentOrder {
  height: 205px;
  overflow: auto;
  margin-bottom: 10px;
}

.orderTitleItem {
  float: left;
}

.orderTitlePrice {
  float: right;
  margin-right: 15.5%;
}

.orderItem {
  clear: both;
}

.orderItemName {
  float: left;
}

.orderItemPrice {
  float: right;
  margin-right: 10%;
}

.orderDeleteButton {
  background-color: rgb(255, 68, 68);
}

.orderTotalPrice {
  float: right;
  margin-right: 10%;
}

.deleteItemFromOrder {
  background-color: rgb(255, 68, 68);
  float: right;
}

.sendToKitchenButton {
  background-color: rgb(255, 68, 68);
  width: 100%;
  height: 40px;
}

/* //////////// CURRENT ORDER END //////////// */

/* //////////// PROCESSD ORDER END //////////// */

.processedOrderContainer {
  width: 40%;
  height: 250px;
}

.processedOrder {
  height: 190px;
  overflow: auto;
  margin-bottom: 10px;
}
.closeOrderButton {
  background-color: rgb(255, 68, 68);
  width: 100%;
  height: 40px;
}

.orderTitleItemProcessed {
  float: left;
}

.orderTitlePriceProcessed {
  float: right;
}

.orderItemProcessed {
  clear: both;
}

.orderItemNameProcessed {
  float: left;
}

.orderItemPriceProcessed {
  float: right;
}

.orderTotalPriceProcessed {
  float: right;
}
/* //////////// PROCESSD ORDER END //////////// */

/* //////////// KITCHEN START //////////// */

.kitchenContainer {
  width: 100%;
  padding: 0px;
}

.kitchenOrder {
  float: left;
  background-color: rgb(255, 68, 68);
  padding: 5px;
  margin-left: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
  min-height: 200px;
  border-radius: 3px;
  color: white;
}

.kitchenButtons {
  clear: both;
}

.kitchenButtons button {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: rgb(68, 71, 255);
}

/* //////////// KITCHEN END //////////// */

/* //////////// MANAGEMENT START //////////// */

.managementContainer {
  padding: 0px;
  float: left;
  width: 100%;
}

.managementContainer input {
  width: 200px;
}

.createNewMenu,
.createNewItem,
.deleteItem,
.deleteMenu {
  background: rgb(0, 1, 65);
  width: 40%;
  height: 110px;
  padding: 10px;
  border-radius: 3px;
}

.createNewMenu {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.createNewItem {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.deleteItem {
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.deleteMenu {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* //////////// MANAGEMENT END //////////// */
